.footer {
  padding: 6rem 0 3rem 0;
  background-color: var(--bg-color);
}

.footer-top {
  display: grid;
  grid-template-columns: 1.5fr 4.5fr;
  gap: 2rem;
}

.footer-brand {
  display: flex;
}

.footer-links-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.footer-column ul {
  display: flex;
}

.social-links {
  margin-top: 1.5rem;
}

.footer-bottom {
  margin-top: 5rem;
  padding-top: 2rem;
  border-top: 1px solid #f3f4f6; /* gray-100 */
}

.footer-logo-img {
  height: 64px;
  width: auto;
  display: block;
  margin-bottom: 1.5rem;
}

@media (max-width: 1024px) {
  .footer-links-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .footer { padding: 4rem 0 2rem 0; }
  .footer-top {
    grid-template-columns: 1fr;
  }
  .footer-links-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-bottom {
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
  }
}
