.footer {
  padding: 6rem 0 3rem 0;
  background-color: var(--bg-color);
}

.footer-top {
  display: grid;
  grid-template-columns: 1.5fr 4.5fr;
  gap: 2rem;
}

.footer-brand {
  display: flex;
}

.footer-links-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

.footer-column ul {
  display: flex;
}

.footer-bottom {
  margin-top: 5rem;
  padding-top: 2rem;
  border-top: 1px solid #f3f4f6; /* gray-100 */
}

.footer-logo-img {
  height: 64px;
  width: auto;
  display: block;
}
